@import './_fonts.css';

:root {
    /* https://colorhunt.co/palette/f259125c3e94412b6b211832 */
    --primary-bg-color: #211832;
    --primary-color: #412B6B;
    --secondary-color: #5C3E94;
    --accent-color: #F25912;
    --accent-color-2: #F2D012;
    --cream: #FAF8F0;
    --dark-cream: #e8e2dc;
    
    --font-primary: 'Roboto Mono', monospace;
}

* {
    /*outline: red 1px dashed; /* debugging */
    font-family: var(--font-primary);
    color: var(--cream);
}

html {
    background: var(--primary-bg-color);

    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;

    font-size: clamp(12px, 0.67vw, 24px);
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    margin: 12rem;
    width: auto;
    grid-template-areas: 
        'params snake'
        'data   data';
}

.parameters-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 10%;

    grid-area: params;
    height: 40rem;
    width: 40rem;
}

.parameters-container > .category {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.parameters-container > .category > label {
    color: var(--dark-cream);
    font-style: italic;
    font-size: 1.5rem;
}

.parameters-container > .category > .controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 1.6rem;
}

.control-label {
    font-size: 1.1rem;
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.column {
    flex-direction: column;
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 18rem;

    font-style: italic;
}

.slider {
    width: 100%;
    height: 0.75rem;
    background: var(--primary-color);
    border-radius: 1000px;
    outline: none;
    padding: 0;
    margin: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--secondary-color);
    border: none;
    cursor: pointer;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 2.4rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    
    background: var(--secondary-color);
    color: var(--cream);
    text-shadow:
            0 1px 1px rgba(0, 0, 0, 0.1),
            0 2px 2px rgba(0, 0, 0, 0.05);
    font-weight: 700;
    font-size: 1.05rem;
    font-family: var(--font-primary);

    transition: 0.05s;
}

button.important {
    background: var(--accent-color-2);
}

button.critical {
    background: var(--accent-color);
}

button.inactive {
    background: var(--primary-color);
}

button:hover {
    transform: translate(0.05rem, 0.05rem);
    cursor: pointer;
}

input.text {
    height: 2rem;
    width: 4rem;

    box-sizing: border-box;
    border: 0.2rem solid var(--primary-color);
    border-radius: 0.5rem;
    outline: none;

    font-size: 1rem;
    font-weight: 500;
    color: var(--cream);
    background: var(--secondary-color);    
}

.snake-container {
    grid-area: snake;
    height: 40rem;
    width: 40rem;
    padding: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.snake-game{
    height: 100%;
    width: 100%;

    background: var(--primary-color);
    border-radius: 1.5rem;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 1rem;
}

.snake-game > .cell {
    width: auto;
    height: auto;
    display: block;
    margin: 0.3rem;
    border-radius: 0.65rem;
    background: var(--secondary-color);
}

.snake-game > .snake {
    background: var(--accent-color);
}

.snake-game > .fruit {
    background: var(--accent-color-2)
}


.data-container {
    grid-area: data;
    height: 50rem;
    width: 100rem;
}

.space-between {
    justify-content: space-between;
}